.homepage__title {
  font-size: 1.5em;
  margin: 0.5em auto;
  max-width: 20em;
  padding: 0 0.5em;
  text-align: center;
}

.homepage__jokeButtons {
  display: flex;
  justify-content: center;
}

.homepage__linkButton {
    background-color: #046AB8;
    border: none;
    border-radius: 0.5em;
    color: #FFFFFF;
    font-size: 1em;
    margin: 0 0.5em;
    padding: 1em 1.5em;
    text-decoration: none;
}

.homepage__linkButton:focus {
  border: 1px solid #0099CC;
  border-radius: 0.5em;
  outline: none;
}
