.button {
  background-color: #046AB8;
  border: none;
  border-radius: 0.5em;
  color: #FFFFFF;
  font: inherit;
  font-size: 1em;
  margin: 0 0.5em;
  padding: 0.5em 1em;
}

.button:focus {
  border: 1px solid #0099CC;
  border-radius: 0.5em;
  outline: none;
}